body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2em;
}

header {
  margin-bottom: 75px;
}
main{
    margin-bottom: 75px;
    
}

#piData{
    color: red;
}

table {
  margin: auto;
}

td {
  align-items: center;
  width: 35px;
}

.tblTitle {
  font-weight: bold;
  text-align: left;
}
